project
/.cproject
/.settings/
.vscode
autom4te.cache
configure
Makefile.in
Makefile
config.log
config.status
*~
aclocal.m4
m4
!m4/gsoap.m4
!m4/voms.m4
!m4/storm.m4
!m4/cgsi-gsoap.m4
!m4/globus_pkgconfig.m4
wsdl/gsoap-generated
wsdl/skeletons_generated.lock
libtool
.deps
.libs
autogen
src/clients_version.h
*.o
*.la
*.lo
srmv2C.cc
srmv2Client.cc
